.error-container {
  height: 80vh;
}

.success {
  color: #206a5d;
}

.error {
  color: $color-light-red;
}

select {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.title {
  font-size: 2.5rem;
  margin: 3rem;
  color: $color-title;
}

img {
  width: 100%;
  height: 100%;
}
