.header {
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(
      109.6deg,
      rgba(62, 161, 219, 1) 11.2%,
      rgba(93, 52, 236, 1) 100.2%
    );
    padding: 6rem 2rem;
    &__text {
      display: grid;
      place-items: center;
      &-box {
        width: 70%;
        & > * {
          margin-bottom: 2rem;
        }
        h1 {
          color: #fff;
          font-family: "Alfa Slab One", cursive;
          font-size: 5rem;
        }
        p {
          color: #ddd;
          font-size: 2.4rem;
        }
      }
    }
    &__picture {
      img {
        -webkit-box-reflect: below -8rem linear-gradient(transparent, transparent, rgba(141, 140, 140, 0.1));
      }
    }
  }
}
