.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px solid #ddd;
  &__logo {
    width: 13rem;
  }
  &__search {
    button {
      padding: 0.8rem 1rem;
      border: 1px solid #ddd;
      font-size: 1.5rem;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      outline: none;
    }
    input {
      padding: 0.8rem 1rem;
      border: 1px solid #ddd;
      font-size: 1.5rem;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      width: 30vw;
      outline: none;
    }
  }
  &__badge {
    position: absolute;
    top: -0.5rem;
    right: -1rem;
    background-color: $color-light-red;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.5rem;
    position: absolute;
  }
  &__menu {
    ul {
      display: flex;
      @include respond(1200px) {
        display: none;
      }
      li {
        position: relative;
        padding: 1rem;
        margin-right: 1rem;
        &:hover ul {
          opacity: 1;
          z-index: 1;
        }
        &:hover ul li {
          animation: topIn 0.2s linear forwards;
          z-index: 1222;
        }
        ul {
          position: absolute;
          display: flex;
          flex-direction: column;
          background-color: #fff;
          opacity: 0;
          transition: all 0.5s linear;
          z-index: -10;
          li {
            opacity: 0;
            margin-bottom: 1rem;
            transition: all 0.5s linear;
          }
        }
        a {
          color: #393e46;
          i {
            margin-right: 1rem;
          }
        }
      }
    }
  }
  &__responsive {
    display: none;
    @include respond(1200px) {
      display: block;
    }
  }
}
