.profile {
  display: grid;
  width: 80%;
  margin: 1rem auto;
  grid-template-rows: min-content min-content;
  overflow: hidden;
  @include respond(800px) {
  }
  &__pictureBox {
    form {
      position: relative;
      border-radius: 5px;
      display: flex;
      background-color: #eee;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      margin-bottom: 2rem;
      border: 1px solid #ddd;
    }

    h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #798777;
    }
  }
  &__picture {
    position: relative;
    width: 27rem;
    height: 27rem;

    margin-bottom: 3rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: fill;
    }
  }
  &__addPicture {
    position: absolute;
    font-size: 3rem;
    border-radius: 50%;
    background-color: #fff;
    font-weight: bold;
    width: 5rem;
    height: 5rem;
    bottom: 1rem;
    right: 2rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      right: -17rem;
      position: absolute;
      opacity: 0;
    }
    label {
      position: absolute;
      i {
        color: #585f57;
      }
    }
  }
  &__saveButton {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;

    button {
      padding: 0.5rem 1.5rem;
      font-size: 2rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      background-color: #fff;
    }
  }
  &__detailsBox {
    display: grid;
    grid-template-columns: 40% 65%;
    background-color: #eee;

    border-radius: 5px;
    @include respond(800px) {
      grid-template-columns: 1fr;
    }

    li {
      color: #444743;
      font-size: 2rem;
      margin: 1rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
  &__personalBox {
    padding: 3rem;
    border-right: 1px solid #ddd;
  }
}
